{extend name="base" /}
{block name="pageBody"}
<div class="layui-tab layui-tab-brief">
    <ul class="layui-tab-title">

    	{volist name="gradeList" id="vo"}
        <li class="{if $grade_id==$vo.id} layui-this{/if}"><a href="{:url('index',['grade_id'=>$vo.id])}">{$vo.name}</a></li>
        {/volist}
    </ul>
    <div class="layui-tab-content">



        <div>
            {volist name="bgroup" id="vo"}
            <a href="{:url('index',['grade_id'=>$grade_id,'bgroup_id'=>$vo.id])}" class="layui-btn{if $bgroup_id==$vo.id} layui-btn-danger{/if}">{$vo.title}</a>
            {/volist}
            <button type="button" class="layui-btn layui-btn-primary fr" id="importTeacher">导入EXCEL</button>
        </div>

    <table class="layui-table">
        <colgroup>
            <col width="60">
        </colgroup>
        <thead>
            <th>序号</th>
            <th>姓名</th>
            <th>性别</th>
            <th>年龄</th>
            <th>手机号</th>
            <th>学科</th>
            <th>级组</th>
            <th>用户组</th>
            <th class="layui-hide">操作</th>
        </thead>
        <tbody>
            {volist name="$teacher" id="v"}
            <tr>
                <td title="{$v.id}">{$key+1}</td>
                <td>{$v.truename}</td>
                <td>{$v.sex}</td>
                <td>{$v.sfz|get_age}岁</td>
                <td>{$v.mobile}</td>
                <td>{$v.subject.title|default="无"}</td>
                <td>
                    {volist name="v.bgroup" id="vo"}
                    <span class="layui-badge layui-bg-gray">{$vo.title}2</span>
                    {/volist}
                </td>
                <td>
                    {volist name="v.roles" id="vo"}
                    <span class="layui-badge layui-bg-gray">{$vo.title}</span>
                    {/volist}
                </td>


                <td class="layui-hide">
                    <a href="{:url('view',['id'=>$v['id']])}" class="layui-btn layui-btn-normal layui-btn-xs">查看</a>
                    <a href="{:url('score/add',['teacher_id'=>$v.id])}" class="layui-btn layui-btn-danger layui-btn-xs">评分</a>
                    <a href="{:url('Admin/edit',['id'=>$vo['id']])}" class="layui-btn layui-btn-normal layui-btn-xs">编辑</a>
                    <a href="{:url('admin/delete',['id'=>$vo['id']])}" class="layui-btn layui-btn-danger layui-btn-xs ajax-delete">删除</a>
                </td>



            </tr>
            {/volist}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="10">合计：{$teacher|count}人</td>
            </tr>
        </tfoot>
    </table>

    </div>
</div>
{/block}
{block name="script"}
<script>
 dropdown.render({
    elem: '#importTeacher' //可绑定在任意元素中，此处以上述按钮为例
    ,trigger:'hover'
    ,data: [{
      title: '下载模板'
      ,id: 100
      ,href: '/xlsx/importTeacher.xlsx'
    }]
});


  var uploadInst = upload.render({
    elem: '#importTeacher' //绑定元素
    ,url: 'import' //上传接口
    ,accept:'file'
    ,acceptMime:'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'
    ,exts:'xlsx'
    ,before:function(res){
        var index = layer.load(1,{shade: [0.8, '#393D49']});
    }
    ,done: function(res){
        if(res.code==1){
            layer.msg(res.msg,{'icon':1,shade: [0.8, '#393D49']},function(){
                window.location.href=res.url;
            });
            
        }else{
            layer.msg(res.msg,{'icon':2,shade: [0.8, '#393D49']});
        }
      
    }
    ,error: function(res){
      layer.msg(res);
    }
  });
</script>
{/block}