{extend name="base" /}
{block name="style"}
<style>
    .ruleTitle{cursor: pointer;}
    .ruleTitle i{width: 10px;}
</style>
{/block}
{block name="pageBody"}
<!--tab标签-->
<div class="layui-tab layui-tab-brief">
    <ul class="layui-tab-title">
        <li class="layui-this">后台节点</li>
        <li class=""><a href="{:url('admin/menu/add')}">添加节点</a></li>
    </ul>
    <div class="layui-tab-content">
        <div class="layui-tab-item layui-show">
            <table class="layui-table">

              <colgroup>
                <col width="60">
                <col width="70">
                <col width="200">
                <col>
                <col width="60">
                <col width="260">
              </colgroup>

                <thead>
                <tr>
                    <th>ID</th>
                    <th>排序</th>
                    <th>名称</th>
                    <th>控制器方法</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {foreach name="dataList" item="vo"}
                <tr data-id="{$vo.id}" data-sid="{$vo.sid}" data-pid="{$vo.pid}"{if $vo.pid!=0} class="layui-hide"{/if}>
                    <td>{$vo.id}</td>
                    <td>{$vo.sort}</td>
                    <td class="ruleTitle">{if $vo.pid==0 && $vo.sid}<i class="fa fa-caret-right"></i>{/if}{neq name="vo.level" value="1"}|{php}for($i=1;$i<$vo['level'];$i++){echo ' ----';}{/php}{/neq} {$vo.title}</td>
                    <td><kbd>{$vo.name}</kbd></td>
                    <td>{php}echo $vo['status']==1 ? '显示' : '隐藏';{/php}</td>
                    <td>
                        <a href="{:url('add',['pid'=>$vo['id']])}" class="layui-btn layui-btn-sm">添加子节点</a>
                        <a href="{:url('edit',['id'=>$vo['id']])}" class="layui-btn layui-btn-normal layui-btn-sm">编辑</a>
                        <a href="{:url('delete',['id'=>$vo['id']])}" class="layui-btn layui-btn-danger layui-btn-sm this-delete">删除</a>
                    </td>
                </tr>
                {/foreach}
                </tbody>
            </table>
        </div>
    </div>
</div>
{/block}
{block name="script"}
<script>
//节点管理层级控制
$("#pageBody").on("click",".ruleTitle",function(e) {
    /* Act on the event */
    if($(this).find('i').hasClass('fa-caret-right')){
        $(this).find('i').removeClass('fa-caret-right').addClass('fa-caret-down');
        var sid=$(this).parents("tr").data('sid');
        if(!sid) return false;
        var sidArr=sid.split(',');
        $("tr").each(function(index, el) {
            var id=$(el).data('id');
            id=String(id);
            if(sidArr.indexOf(id)>=0){
                $(el).removeClass('layui-hide');
            }
        });
    }else if($(this).find('i').hasClass('fa-caret-down')){
        $(this).find('i').removeClass('fa-caret-down').addClass('fa-caret-right');
        var sid=$(this).parents("tr").data('sid');
        if(!sid) return false;
        var sidArr=sid.split(',');
        $("tr").each(function(index, el) {
            var id=$(el).data('id');
            id=String(id);
            if(sidArr.indexOf(id)>=0){
                $(el).addClass('layui-hide');
            }
        });
    }
});
//删除节点
$(".this-delete").click(function(event) {
    /* Act on the event */
    log('xx');
    var _href = $(this).attr('href');
    layer.open({
        title:'提示',
        shade: false,
        content: '删除节点会一并删除子节点，确定？',
        btn: ['确定', '取消'],
        yes: function (index) {
            $.ajax({
                url: _href,
                type: "get",
                success: function (info) {
                    if (info.code === 1) {
                        layer.msg(info.msg);
                        $.each(info.data.split(','),function(index, el) {
                            $("tr[data-id="+el+"]").fadeTo('slow', 0.01, function() {
                                $(this).slideUp("fast",function(){
                                    $(this).remove();
                                })
                            });                           
                        });
                    }
                }
            });
            layer.close(index);
        }
    });
    return false;
});
</script>
{/block}