{extend name="base" /}
{block name="pageBody"}
{$form|raw}
{/block}

{block name="script"}
<script>
	//班级选择
var bid=$("input[name=banji_id]").val();
dobanji(bid);
form.on('select(hasmod)', function(data){
	dobanji(0);
});
form.on('select(hasbanji)',function(data){
	var banji_id=data.value;
	$("input[name=banji_id]").val(banji_id);
});
function dobanji(bid){
	var banji=$("select[name=grade_id]").find(":selected").data('banji');
	var banjiHtml=$("<div class=\"layui-input-inline\" id=\"hasbanji\"><select lay-filter=\"hasbanji\"></select></div>");
	banjiHtml.find('select').append("<option value=\"0\">选择班级</option>");
	$.each(banji, function(index, val) {
		if(val.id==bid){
			banjiHtml.find('select').append("<option value=\"" + val.id + "\" selected>" + val.alias + "</option>");
		}else{
			banjiHtml.find('select').append("<option value=\"" + val.id + "\">" + val.alias + "</option>");
		}
	});
	$("#hasbanji").remove();
	$("#hasmod").after(banjiHtml.prop('outerHTML'));
	form.render();
}
</script>
{/block}